.admin-wrapper {
  height: 100vh;
  &.sidebar-open {
    .main-content {
      margin-left: $sidebar-width;
    }
    .main-sidebar {
      margin-left: 0;
    }
  }
  &.sidebar-mini {
    .main-content {
      margin-left: $sidebar-mini-width;
    }
    .main-sidebar {
      margin-left: 0;
    }
  }
  .main-content {
    margin-left: 0;
    transition: all 150ms linear;
    min-height: 100vh;
    height: auto;
    background: $main-wrapper-bg-color;
    display: flex;
    flex-direction: column;
  }
  .router-action-area {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: auto;
  }
  .footer {
    margin-top: auto;
    background: #fff;
  }
}
