.admin-wrapper {
    height: 100vh;
    &.sidebar-open {
        .main-content {
            margin-left: $sidebar-width;
        }
        .main-sidebar {
            margin-left: 0;
        }
    }
    &.sidebar-mini {
        .main-content {
            margin-left: $sidebar-mini-width;
        }
        .main-sidebar {
            margin-left: 0;
        }
    }
    .main-content {
        margin-left: 0;
        transition: all 150ms linear;
    }
}
