$base-color: rgba(229, 229, 229, 0.3);
$shine-color:rgba(255, 255, 255, 0.4);
$animation-duration: 2s;
$avatar-offset: 10;

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 140px;
  }
}
@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%,
  100% {
    background-position: 208px;
  }
}

// this unfortunately uses set px widths for the background-gradient, I never got around to changing it to work with all widths :(
@mixin background-gradient {
  background-image: linear-gradient(
    90deg,
    $base-color 0px,
    $shine-color 40px,
    $base-color 80px
  );
  background-size: 600px;
}

.theme-skeleton {
  background-color: $main-wrapper-bg-color;
  overflow: hidden;
  #navigation-placeholder-skeleton {
    float: left;
  }
  #navigation-placeholder-skeleton[data-is-collapsed='true'] {
    width: 64px;
  }
  #navigation-placeholder-skeleton[data-is-collapsed='true']
    .container-sidebar {
    display: none;
  }
  #navigation-placeholder-skeleton[data-sidebar-type='project']
    .container-sidebar {
    background-color: #f4f5f7;
  }
  #navigation-placeholder-skeleton[data-sidebar-type='project']
    .container-sidebar
    .strong-shaded {
    background-color: rgba(193, 199, 208, 0.75);
  }
  #navigation-placeholder-skeleton[data-sidebar-type='project']
    .container-sidebar
    .light-shaded {
    background-color: #dfe1e6;
  }
  #navigation-placeholder-skeleton[data-sidebar-type='project'][data-is-collapsed='true']
    .container-sidebar {
    display: none;
  }
  #navigation-placeholder-skeleton[data-sidebar-type='project'][data-is-collapsed='true']
    .collapsed-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 16px;
  }
  #navigation-placeholder-skeleton[data-sidebar-type='project'][data-is-collapsed='true']
    .global-sidebar {
    background-color: #f4f5f7;
  }
  #navigation-placeholder-skeleton[data-sidebar-type='project'][data-is-collapsed='true']
    .global-sidebar
    .strong-shaded {
    background-color: rgba(193, 199, 208, 0.75);
  }
  #navigation-placeholder-skeleton[data-sidebar-type='project'][data-is-collapsed='true']
    .global-sidebar
    .light-shaded {
    background-color: #dfe1e6;
  }
  #navigation-placeholder-skeleton[data-sidebar-type='settings']
    .global-sidebar {
    background-color: $sidebar-nav-open-bg-color;
  }
  #navigation-placeholder-skeleton[data-sidebar-type='settings']
    .container-sidebar {
    background-color: $sidebar-nav-open-bg-color;
  }
  #navigation-placeholder-skeleton:not([data-sidebar-type='project'])
    .container-content
    .header-placeholder
    .header-avatar-placeholder {
    width: 100%;
    margin-right: 0;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  #navigation-placeholder-skeleton:not([data-sidebar-type='project'])
    .collapsed-container,
  #navigation-placeholder-skeleton:not([data-sidebar-type='project'])
    .container-content
    .header-placeholder
    .text-placeholder {
    display: none;
  }
  #navigation-placeholder-skeleton {
    width: $sidebar-width;
  }
  #navigation-placeholder-skeleton .navigation-skeleton-component {
    display: flex;
    height: 100vh;
  }
  #navigation-placeholder-skeleton .global-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: $sidebar-nav-bd-color;
  }
  #navigation-placeholder-skeleton .container-sidebar {
    width: 100%;
    height: 100%;
    background-color: $sidebar-nav-bd-color;
  }
  #navigation-placeholder-skeleton .collapsed-container {
    display: none;
  }
  #navigation-placeholder-skeleton .container-content {
    // padding: 24px 20px;
  }
  #navigation-placeholder-skeleton .header-avatar-placeholder {
    // width: 40px;
    // height: 40px;
    border-radius: 3px;
  }
  .items-placeholder {
    margin-top: 24px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .item-placeholder {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    
  }
  .item-placeholder .icon-placeholder-small {
    margin-right: 16px;
  }
  .text-placeholder {
    flex-grow: 1;
    height: 16px;
    border-radius: 3px;
    @include background-gradient;
    animation: shine-avatar $animation-duration infinite ease-out;
  }
  .icon-placeholder-small {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    @include background-gradient;
    animation: shine-avatar $animation-duration infinite ease-out;
  }
  .icon-placeholder-medium {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    @include background-gradient;
    animation: shine-avatar $animation-duration infinite ease-out;
  }
  .icon-placeholder-large {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    @include background-gradient;
    animation: shine-avatar $animation-duration infinite ease-out;
  }
  .header-placeholder {
    display: flex;
    align-items: center;
    .icon-placeholder-small {
      width: 150px;
      height: 150px;
    }
    @media (max-width: 768px) {
      .icon-placeholder-small {
        width: 40px;
        height: 40px;
      }
    }
  }
  #navigation-placeholder-skeleton
    .header-placeholder
    .header-avatar-placeholder {
    margin-right: 16px;
  }
  #navigation-placeholder-skeleton .global-content-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 24px;
  }
  #navigation-placeholder-skeleton .global-content-top .icon-placeholder-small {
    margin-bottom: 16px;
  }
  #navigation-placeholder-skeleton .global-content-top .icon-placeholder-large {
    margin-bottom: 20px;
  }
  #navigation-placeholder-skeleton .global-content-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 16px;
  }
  #navigation-placeholder-skeleton
    .global-content-bottom
    .icon-placeholder-small {
    margin-bottom: 12px;
  }
  #navigation-placeholder-skeleton
    .collapsed-container
    .header-avatar-placeholder {
    margin-bottom: 8px;
  }
  #navigation-placeholder-skeleton
    .collapsed-container
    .icon-placeholder-small {
    margin-top: 8px;
  }
  .strong-shaded {
    background-color: hsla(0, 0%, 100%, 0.3);
  }
  .light-shaded {
    background-color: hsla(0, 0%, 100%, 0.15);
  }
  .dark-shaded {
    background: hsla(0, 1%, 29%, 0.3);
  }
  .skeleton-main {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .skeleton-header {
      height: 56px;
      background-color: #fff;
      margin-bottom: auto;
      display: flex;
      align-items: center;

      .profile-menu-icon {
        width: 140px;
        margin-left: auto;
        display: flex;
        align-items: center;
      }
    }
    .skeleton-footer {
      height: 56px;
      background-color: #fff;
      margin-top: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media (max-width: 768px) {
    .container-sidebar {
      display: none;
    }
    #navigation-placeholder-skeleton {
      width: 60px;
    }
  }

  @media (min-width: 768px) {
    .global-sidebar {
      display: none !important;
    }
  }
}
