/**
 * Sidebar Variables
 */
$sidebar-width: 243px;
$sidebar-mini-width: 60px;
$sidebar-back-color: #000000;
$sidebar-nav-color: #ffffff;
$sidebar-nav-open-bg-color:#211f1f;
$sidebar-nav-active-color: #007bff
