/**
 * Sidebar Variables
 */
$sidebar-width: 243px;
$sidebar-mini-width: 60px;
$sidebar-bg-color: #001529;
$sidebar-nav-color: #ffffff;
$sidebar-nav-open-bg-color: #000c17;
$sidebar-nav-active-color: #fff;
$sidebar-nav-active-bg-color: #007bff;
$sidebar-nav-active-left-border-color: #0656ad;
$sidebar-nav-bd-color: #083461;

$main-wrapper-bg-color: #f0f2f5;
